{{page-title "AnneGreeth"}}
<h1>a 365 day project with {{days-left}} days left</h1>
<div class="photo-containter">
{{#each this.model.photos as |photo| }}
  <div class="photo">
    <ResponsiveImage @src={{photo.name}}  alt={{photo.alt}} title={{photo.title}}/>
  </div>
{{/each}}
</div>